.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
}

.menu-title {
  background-color: rgb(163, 162, 162);
  cursor: pointer;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);
  transform: scaleY(0);
  transform-origin: top;
  cursor: pointer;
}

ul.dropdown-menu li:hover {
  background: rgb(47, 46, 46);
}

.visible {
  animation: 0.75s bounce ease-in-out forwards;
}

@keyframes bounce {
  75% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
